<!DOCTYPE html>
<html lang="en">
  

<head>
    <meta charset="utf-8">
    <title>Electro⚡ | Account Sign up</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
    <meta name="keywords" content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" type="text/css" media="screen" href="../public/css/theme.min.css">
    <!-- Google Tag Manager-->
    <!-- <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WKV3GT5');
    </script> -->
  </head>
  <!-- Body-->
  <body class="handheld-toolbar-enabled">
    <!-- Google Tag Manager (noscript)-->
    <!-- <noscript>
      <iframe src="http://www.googletagmanager.com/ns.html?id=GTM-WKV3GT5" height="0" width="0" style="display: none; visibility: hidden;"></iframe>
    </noscript> -->
    <!-- Sign in / sign up modal-->
    
    <main class="page-wrapper">
      <!-- Navbar 3 Level (Light)-->
      <header class="shadow-sm">
        <!-- Topbar-->
        
        <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
        
      </header>
      <div class="container py-4 py-lg-5 my-4">
        <div class="row">
          <div class="col-md-6">
            <div class="card border-0 shadow">
              <div class="card-body">
                <h2 class="h4 mb-3">Admin Panel Login</h2>
            <p class="fs-sm text-muted mb-4">If you are not a an admin and you somehow reached to this page, <br> Then <a href="/login">click here</a> to Login as an User.</p>
                <form method="post" action="/adminLogin">
                  <div class="row gx-4 gy-3">
                    
                   
                    <div class="col-sm-6">
                      <label class="form-label" for="reg-email">E-mail Address</label>
                      <input class="form-control" type="email" required name="email">
                      <div class="invalid-feedback">Please enter valid email address!</div>
                    </div>
                   
               
                    <div class="col-sm-6">
                      <label class="form-label" for="reg-password">Password</label>
                      <input class="form-control" type="password" required name="password">
                      <div class="invalid-feedback">Please enter password!</div>
                    </div>
                   
                    <div class="col-12 text-end">
                      <button class="btn btn-primary"  type="submit"><i class="ci-user me-2 ms-n1"></i>Sign Up</button>
                    </div>
                  </div>
                </form>
                <!-- <% 
                if(typeof message  !== 'undefined') {
                   %> 
                <p style="color: green;"><%= message %> </p>


                  
              <%
            } 
            %>  -->
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </main>
    <!-- Footer-->
    
    <!-- Toolbar for handheld devices (Default)-->
    
   
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <!-- Main theme script-->
    <script src="js/theme.min.js"></script>
  </body>

\
</html>